
{% load render_bundle from webpack_loader %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <title>Ü</title>
        {% render_bundle 'story' 'css' %}
        <script>
            window.u_umlaut = {};
            window.u_umlaut.story_id = {{ story_id }};

            WebFontConfig = {
                custom: {
                    families: ["Gloria Hallelujah"],
                },
                active: function() {

                }
            };

            (function() {
                const wf = document.createElement('script');
                wf.src = ('https:' === document.location.protocol ? 'https' : 'http') +
                        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                const s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
            })();
        </script>
    </head>
    <body>
        <div id="root" data-app="uumlaut"></div>
        {% render_bundle 'story' 'js' %}
    </body>
</html>