
{% load render_bundle from webpack_loader %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <title>Ü</title>
        {% render_bundle 'user' 'css' %}
    </head>
    <body>
        <div id="root" data-app="uumlaut"></div>
        {% render_bundle 'user' 'js' %}
    </body>
</html>