@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);@font-face {
  font-family: 'Gloria Hallelujah'; }
button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  background: transparent;
  border-radius: 0;
  -webkit-tap-highlight-color: transparent; }
button:focus, button:active {
    background: transparent; }
input:focus, textarea:focus, select:focus {
  outline: none; }
input[type=range] {
  width: 100%;
  margin-top: 5px;
  -webkit-appearance: none;
  border-radius: 3px;
  border: 2px solid #460482; }
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: #f9f9f9;
  border: none; }
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #460482;
  margin-top: -6px; }
input[type=range]:focus {
  outline: none; }
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc; }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
html, body {
  padding: 0;
  margin: 0; }
div[data-app="uumlaut"] {
  padding: 0; }
span {
  margin: 2px; }
input {
  border: 1px solid black; }
canvas {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
._2I89CHyppD1DDLKVWtm6V8 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  padding: 0 12px; }
._2I89CHyppD1DDLKVWtm6V8 > ._3xUTXg5E7hhbLyYmAESBMt {
    background: rgba(255, 234, 180, .3);
    -webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .27);
            box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .27);
    border-radius: 5px;
    padding: 12px 32px; }
._2I89CHyppD1DDLKVWtm6V8 > ._3xUTXg5E7hhbLyYmAESBMt > ._2GzBr-V5imlZwZ1IevTJlC {
      font-size: 18px;
      font-weight: 700;
      margin: 4px 0 6px 0;
      color: #000000; }
._2I89CHyppD1DDLKVWtm6V8 > ._3xUTXg5E7hhbLyYmAESBMt > .WwnwuaK4V493H3jNmBCNF {
      font-size: 12px;
      color: #4B4B4B;
      padding-bottom: 12px; }
._2I89CHyppD1DDLKVWtm6V8 > ._3xUTXg5E7hhbLyYmAESBMt > .WwnwuaK4V493H3jNmBCNF > ._1_MKM8JQp1B4rFzox5Xbd7 {
        font-style: italic;
        font-weight: 700; }
._2I89CHyppD1DDLKVWtm6V8 > ._3xUTXg5E7hhbLyYmAESBMt > .WwnwuaK4V493H3jNmBCNF > ._2-iGwr6gWfJXHQixp1_4dL {
        font-style: italic; }
* {
  font-family: 'Arial', sans-serif; }
._3anFrmLLNCfthxzWonken1 {
  overflow-y: scroll;
  padding-bottom: 32px; }
.F0Dm72yhoEczynhKegbKC {
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  overflow: hidden;
  -webkit-box-shadow: 0 0 4px 0 #B2B2B2;
          box-shadow: 0 0 4px 0 #B2B2B2;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
.F0Dm72yhoEczynhKegbKC > ._1Xp-E2nZ04VsLaUiO2xWoT {
    width: 60px; }
.F0Dm72yhoEczynhKegbKC > ._33dqB1l4uQtvd9AYhHlsJG {
    font-size: 24px;
    color: #8001e8;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
    overflow: hidden;
    max-width: calc(100% - 154px); }
.F0Dm72yhoEczynhKegbKC > ._33dqB1l4uQtvd9AYhHlsJG > span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
.F0Dm72yhoEczynhKegbKC > ._33dqB1l4uQtvd9AYhHlsJG > input {
      font-size: 20px;
      padding: 4px;
      border: none; }
.F0Dm72yhoEczynhKegbKC > ._2wWpRlVI5Wx_DXm7zh88s4 {
    padding: 12px 17px 12px 17px; }
.F0Dm72yhoEczynhKegbKC > ._2wWpRlVI5Wx_DXm7zh88s4 > img {
      width: 25px;
      height: 25px; }
body {
  background-color: #f9f9f9; }
.fzrF78kuqZUftHuxBR_8D {
  padding: 32px; }
.fzrF78kuqZUftHuxBR_8D > ._2Z9MBhk-TB4WQu8cPwpLhi {
    display: block;
    width: 100%;
    border: 2px dashed #5c2ce9;
    text-align: center;
    background-color: #f9f9f9;
    padding: 12px;
    height: 92px; }
.s9eVUZafnlpyo7wNZnRqf {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
  height: 50px;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0 14px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
.s9eVUZafnlpyo7wNZnRqf > button {
    width: 29px;
    height: 29px; }
.s9eVUZafnlpyo7wNZnRqf > button > img {
      width: 100%;
      height: auto; }
.L9gnxgMgoTPFQZDW7C1z2 {
  padding: 32px 32px 0 32px; }
.L9gnxgMgoTPFQZDW7C1z2 > ._3xUTXg5E7hhbLyYmAESBMt {
    background: #FFFFFF;
    -webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .27);
            box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .27);
    border-radius: 5px;
    padding: 16px 16px 8px 16px; }
.L9gnxgMgoTPFQZDW7C1z2 > ._3xUTXg5E7hhbLyYmAESBMt > div {
      margin-bottom: 8px; }
.L9gnxgMgoTPFQZDW7C1z2 > ._3xUTXg5E7hhbLyYmAESBMt > ._2Mo380T5uQTnVHxpHDFj3o {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
.L9gnxgMgoTPFQZDW7C1z2 > ._3xUTXg5E7hhbLyYmAESBMt > ._2Mo380T5uQTnVHxpHDFj3o > ._2GzBr-V5imlZwZ1IevTJlC {
        color: #4b4b4b;
        font-size: 18px; }
.L9gnxgMgoTPFQZDW7C1z2 > ._3xUTXg5E7hhbLyYmAESBMt > ._2Mo380T5uQTnVHxpHDFj3o > ._1hS2L-XH8ghJX9GiH3Fg9X {
        width: 16px;
        height: 16px; }
.L9gnxgMgoTPFQZDW7C1z2 > ._3xUTXg5E7hhbLyYmAESBMt > ._2Mo380T5uQTnVHxpHDFj3o > ._1hS2L-XH8ghJX9GiH3Fg9X > img {
          width: 100%;
          height: auto; }
.L9gnxgMgoTPFQZDW7C1z2 > ._3xUTXg5E7hhbLyYmAESBMt .hGD-yirl2FWngUX7z9tfr {
      height: 140px;
      background-color: rgba(128, 1, 232, .4);
      border-radius: 5px; }
.L9gnxgMgoTPFQZDW7C1z2 > ._3xUTXg5E7hhbLyYmAESBMt ._1nNpup1JNCifyTUL4Jjb60 {
      border-radius: 5px;
      height: 140px;
      background-position: center;
      background-size: cover;
      border: 1px solid #000000; }
.L9gnxgMgoTPFQZDW7C1z2 > ._3xUTXg5E7hhbLyYmAESBMt .MQxSlOXbFg3YQO2MjUsYT {
      color: #43780b;
      font-size: 12px; }
.L9gnxgMgoTPFQZDW7C1z2 > ._3xUTXg5E7hhbLyYmAESBMt ._1UFUQOuvlDlO0VovXVNb0D {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
.L9gnxgMgoTPFQZDW7C1z2 > ._3xUTXg5E7hhbLyYmAESBMt ._1UFUQOuvlDlO0VovXVNb0D > button {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        background-color: #efefef;
        border-radius: 5px;
        color: #450582;
        padding: 8px;
        margin: 0 8px; }
.L9gnxgMgoTPFQZDW7C1z2 > ._3xUTXg5E7hhbLyYmAESBMt ._1UFUQOuvlDlO0VovXVNb0D > button:first-child {
          margin-left: 0; }
.L9gnxgMgoTPFQZDW7C1z2 > ._3xUTXg5E7hhbLyYmAESBMt ._1UFUQOuvlDlO0VovXVNb0D > button:last-child {
          margin-right: 0; }
._3zVGJ1ksUvrUrVCbGgUoU_ {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .54); }
._3zVGJ1ksUvrUrVCbGgUoU_ > ._3xUTXg5E7hhbLyYmAESBMt {
    height: 100%;
    background-color: #f9f9f9; }
._3zVGJ1ksUvrUrVCbGgUoU_ > ._3xUTXg5E7hhbLyYmAESBMt > ._1M3dnjE2e06_A-oVQKaVp5 {
      padding: 18px 18px 0 18px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
._3zVGJ1ksUvrUrVCbGgUoU_ > ._3xUTXg5E7hhbLyYmAESBMt > ._1M3dnjE2e06_A-oVQKaVp5 > ._1Xp-E2nZ04VsLaUiO2xWoT > ._2GzBr-V5imlZwZ1IevTJlC {
        font-size: 20px;
        color: #000000;
        font-weight: 700;
        padding-bottom: 4px; }
._3zVGJ1ksUvrUrVCbGgUoU_ > ._3xUTXg5E7hhbLyYmAESBMt > ._1M3dnjE2e06_A-oVQKaVp5 > ._1Xp-E2nZ04VsLaUiO2xWoT > ._34K6Oqcyv53V_lpwrPZVHu {
        font-size: 14px;
        font-style: italic;
        color: #898989; }
._3zVGJ1ksUvrUrVCbGgUoU_ > ._3xUTXg5E7hhbLyYmAESBMt > ._1M3dnjE2e06_A-oVQKaVp5 > ._2wWpRlVI5Wx_DXm7zh88s4 {
        padding-left: 12px; }
._3zVGJ1ksUvrUrVCbGgUoU_ > ._3xUTXg5E7hhbLyYmAESBMt > ._1M3dnjE2e06_A-oVQKaVp5 > ._2wWpRlVI5Wx_DXm7zh88s4 > button {
          width: 25px;
          height: 25px; }
._3zVGJ1ksUvrUrVCbGgUoU_ > ._3xUTXg5E7hhbLyYmAESBMt > ._1M3dnjE2e06_A-oVQKaVp5 > ._2wWpRlVI5Wx_DXm7zh88s4 > button > img {
            width: 100%;
            height: auto; }
._3zVGJ1ksUvrUrVCbGgUoU_ > ._3xUTXg5E7hhbLyYmAESBMt > ._3anFrmLLNCfthxzWonken1 {
      max-height: 100%;
      overflow-y: auto;
      padding: 12px 16px 16px 12px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-item-align: start;
          align-self: start; }
._3zVGJ1ksUvrUrVCbGgUoU_ > ._3xUTXg5E7hhbLyYmAESBMt > ._3anFrmLLNCfthxzWonken1 > ._1nNpup1JNCifyTUL4Jjb60 > img {
        width: 100%;
        height: auto; }
._3zVGJ1ksUvrUrVCbGgUoU_ > ._3xUTXg5E7hhbLyYmAESBMt > ._3anFrmLLNCfthxzWonken1 > ._1UFUQOuvlDlO0VovXVNb0D {
        padding: 16px 0;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; }
._3zVGJ1ksUvrUrVCbGgUoU_ > ._3xUTXg5E7hhbLyYmAESBMt > ._3anFrmLLNCfthxzWonken1 > ._1UFUQOuvlDlO0VovXVNb0D > a {
          -webkit-box-flex: 1;
              -ms-flex-positive: 1;
                  flex-grow: 1;
          margin: 0 8px; }
._3zVGJ1ksUvrUrVCbGgUoU_ > ._3xUTXg5E7hhbLyYmAESBMt > ._3anFrmLLNCfthxzWonken1 > ._1UFUQOuvlDlO0VovXVNb0D > a:first-child {
            margin-left: 0; }
._3zVGJ1ksUvrUrVCbGgUoU_ > ._3xUTXg5E7hhbLyYmAESBMt > ._3anFrmLLNCfthxzWonken1 > ._1UFUQOuvlDlO0VovXVNb0D > a:last-child {
            margin-right: 0; }
._3zVGJ1ksUvrUrVCbGgUoU_ > ._3xUTXg5E7hhbLyYmAESBMt > ._3anFrmLLNCfthxzWonken1 > ._1UFUQOuvlDlO0VovXVNb0D > a > button {
            width: 100%;
            display: block;
            background-color: #efefef;
            border-radius: 5px;
            color: #450582;
            padding: 8px; }
