@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);@font-face {
  font-family: 'Gloria Hallelujah'; }
button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  background: transparent;
  border-radius: 0;
  -webkit-tap-highlight-color: transparent; }
button:focus, button:active {
    background: transparent; }
input:focus, textarea:focus, select:focus {
  outline: none; }
input[type=range] {
  width: 100%;
  margin-top: 5px;
  -webkit-appearance: none;
  border-radius: 3px;
  border: 2px solid #460482; }
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: #f9f9f9;
  border: none; }
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #460482;
  margin-top: -6px; }
input[type=range]:focus {
  outline: none; }
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc; }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
html, body {
  padding: 0;
  margin: 0; }
div[data-app="uumlaut"] {
  padding: 0; }
span {
  margin: 2px; }
input {
  border: 1px solid black; }
canvas {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
.vQ5uCOEp_WSYE2LjG-DCq {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  padding: 0 12px; }
.vQ5uCOEp_WSYE2LjG-DCq > ._1fAC_4Srz2rM9Owm-0TGdv {
    background: rgba(255, 234, 180, .3);
    -webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .27);
            box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .27);
    border-radius: 5px;
    padding: 12px 32px; }
.vQ5uCOEp_WSYE2LjG-DCq > ._1fAC_4Srz2rM9Owm-0TGdv > ._2CpLhk1ZM2R4Zt2aLd91rq {
      font-size: 18px;
      font-weight: 700;
      margin: 4px 0 6px 0;
      color: #000000; }
.vQ5uCOEp_WSYE2LjG-DCq > ._1fAC_4Srz2rM9Owm-0TGdv > ._2APC7vdPc0b-eD3ZUZnXyI {
      font-size: 12px;
      color: #4B4B4B;
      padding-bottom: 12px; }
.vQ5uCOEp_WSYE2LjG-DCq > ._1fAC_4Srz2rM9Owm-0TGdv > ._2APC7vdPc0b-eD3ZUZnXyI > ._4NPK5_qLYKMhIm3KJYIkr {
        font-style: italic;
        font-weight: 700; }
.vQ5uCOEp_WSYE2LjG-DCq > ._1fAC_4Srz2rM9Owm-0TGdv > ._2APC7vdPc0b-eD3ZUZnXyI > ._3aVZU0jIqon9GMtFw50bdE {
        font-style: italic; }
* {
  font-family: 'Dosis', sans-serif; }
canvas {
  border: 2px dashed #ddd; }
.ozkWGT97XghMUFWxgliQi {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: rgba(255, 255, 255, .9);
  -ms-touch-action: none;
      touch-action: none; }
.mJIb0fq65n-gjqfTsirQw {
  width: calc(100% - 16px);
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto; }
.mJIb0fq65n-gjqfTsirQw ._1nniPqamjkxXFrvy3ceyLw {
    margin-right: 4px; }
.mJIb0fq65n-gjqfTsirQw ._1nniPqamjkxXFrvy3ceyLw > img {
      height: 80px; }
