@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);@font-face {
  font-family: 'Gloria Hallelujah'; }
button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  background: transparent;
  border-radius: 0;
  -webkit-tap-highlight-color: transparent; }
button:focus, button:active {
    background: transparent; }
input:focus, textarea:focus, select:focus {
  outline: none; }
input[type=range] {
  width: 100%;
  margin-top: 5px;
  -webkit-appearance: none;
  border-radius: 3px;
  border: 2px solid #460482; }
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: #f9f9f9;
  border: none; }
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #460482;
  margin-top: -6px; }
input[type=range]:focus {
  outline: none; }
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc; }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
html, body {
  padding: 0;
  margin: 0; }
div[data-app="uumlaut"] {
  padding: 0; }
span {
  margin: 2px; }
input {
  border: 1px solid black; }
canvas {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
._1MT93260KzClWSNYyB220x {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  padding: 0 12px; }
._1MT93260KzClWSNYyB220x > ._1mmxbR8iUIL4zO5MPaAFL- {
    background: rgba(255, 234, 180, .3);
    -webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .27);
            box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .27);
    border-radius: 5px;
    padding: 12px 32px; }
._1MT93260KzClWSNYyB220x > ._1mmxbR8iUIL4zO5MPaAFL- > ._294h5_Wfm3XFFs2qijSAaD {
      font-size: 18px;
      font-weight: 700;
      margin: 4px 0 6px 0;
      color: #000000; }
._1MT93260KzClWSNYyB220x > ._1mmxbR8iUIL4zO5MPaAFL- > ._1E5ZSQqY04xha0BL2BnT0_ {
      font-size: 12px;
      color: #4B4B4B;
      padding-bottom: 12px; }
._1MT93260KzClWSNYyB220x > ._1mmxbR8iUIL4zO5MPaAFL- > ._1E5ZSQqY04xha0BL2BnT0_ > ._3-6zhVPnhsmw4yH7FeCDhk {
        font-style: italic;
        font-weight: 700; }
._1MT93260KzClWSNYyB220x > ._1mmxbR8iUIL4zO5MPaAFL- > ._1E5ZSQqY04xha0BL2BnT0_ > ._39bZI1V3mwVCsQvmTKryAS {
        font-style: italic; }
* {
  font-family: 'Arial', sans-serif; }
._34Pny-9aHnnA5kennDC5hR {
  overflow-y: scroll; }
._34Pny-9aHnnA5kennDC5hR > ._1mmxbR8iUIL4zO5MPaAFL- {
    height: 100%;
    overflow-y: auto;
    padding: 12px 16px 16px 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-item-align: start;
        align-self: start; }
._34Pny-9aHnnA5kennDC5hR > ._1mmxbR8iUIL4zO5MPaAFL- > ._3mIJg8fN88rDh53YnZyE7m {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      width: 120px;
      height: 120px;
      margin: 8px 12px;
      border: 1px solid #979797;
      background-color: #d8d8d8;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%; }
._34Pny-9aHnnA5kennDC5hR > ._1mmxbR8iUIL4zO5MPaAFL- > ._3mIJg8fN88rDh53YnZyE7m._2mfMVhiBDh_v03zHLB46o3 {
        border: 5px dashed #898989;
        overflow: hidden;
        background-color: #f9f9f9; }
._34Pny-9aHnnA5kennDC5hR > ._1mmxbR8iUIL4zO5MPaAFL- > ._3mIJg8fN88rDh53YnZyE7m._2mfMVhiBDh_v03zHLB46o3 > label {
          width: 100%;
          height: 100%;
          overflow: hidden;
          text-align: center;
          display: block; }
._34Pny-9aHnnA5kennDC5hR > ._1mmxbR8iUIL4zO5MPaAFL- > ._3mIJg8fN88rDh53YnZyE7m._2mfMVhiBDh_v03zHLB46o3 > label > img {
            width: auto;
            height: 100%; }
._34Pny-9aHnnA5kennDC5hR > ._1mmxbR8iUIL4zO5MPaAFL- > ._3mIJg8fN88rDh53YnZyE7m._2mfMVhiBDh_v03zHLB46o3 > input {
          display: none; }
._3kbgLPXql0ZgdomHflJKyD {
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  overflow: hidden;
  -webkit-box-shadow: 0 0 4px 0 #B2B2B2;
          box-shadow: 0 0 4px 0 #B2B2B2;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
._3kbgLPXql0ZgdomHflJKyD > ._1G5Vr9yOieY9x0u_gCKaVy {
    width: 60px; }
._3kbgLPXql0ZgdomHflJKyD > ._3f3GgMggR_SsvVy5i6oj6z {
    font-size: 24px;
    color: #8001e8;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
    overflow: hidden;
    max-width: calc(100% - 154px); }
._3kbgLPXql0ZgdomHflJKyD > ._3f3GgMggR_SsvVy5i6oj6z > span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
._3kbgLPXql0ZgdomHflJKyD > ._3f3GgMggR_SsvVy5i6oj6z > input {
      font-size: 20px;
      padding: 4px;
      border: none; }
._3kbgLPXql0ZgdomHflJKyD > ._28wdNr35VUr2Km6hmWygKo {
    padding: 12px 17px 12px 17px; }
._3kbgLPXql0ZgdomHflJKyD > ._28wdNr35VUr2Km6hmWygKo > img {
      width: 25px;
      height: 25px; }
body {
  background-color: #f9f9f9; }
.HwOHUl-IT4BkcwQ5s2v6n {
  padding: 32px; }
.HwOHUl-IT4BkcwQ5s2v6n > ._29clgTpfCuxZQMThQyLp_u {
    display: block;
    width: 100%;
    border: 2px dashed #5c2ce9;
    text-align: center;
    background-color: #f9f9f9;
    padding: 12px;
    height: 92px; }
._1q3F4mmFcV084hwEXfZ-Of {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
  height: 50px;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0 14px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
._1q3F4mmFcV084hwEXfZ-Of > button {
    width: 29px;
    height: 29px; }
._1q3F4mmFcV084hwEXfZ-Of > button > img {
      width: 100%;
      height: auto; }
._8YGBb-2yawC6bMMtkMR23 {
  padding: 32px 32px 0 32px; }
._8YGBb-2yawC6bMMtkMR23 > ._1mmxbR8iUIL4zO5MPaAFL- {
    background: #FFFFFF;
    -webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .27);
            box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .27);
    border-radius: 5px;
    padding: 16px; }
._8YGBb-2yawC6bMMtkMR23 > ._1mmxbR8iUIL4zO5MPaAFL- > div {
      margin-bottom: 8px; }
._8YGBb-2yawC6bMMtkMR23 > ._1mmxbR8iUIL4zO5MPaAFL- > ._1WFGkWld3Cc17ct7i0YWQa {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
._8YGBb-2yawC6bMMtkMR23 > ._1mmxbR8iUIL4zO5MPaAFL- > ._1WFGkWld3Cc17ct7i0YWQa > ._294h5_Wfm3XFFs2qijSAaD {
        color: #4b4b4b;
        font-size: 18px; }
._8YGBb-2yawC6bMMtkMR23 > ._1mmxbR8iUIL4zO5MPaAFL- > ._1WFGkWld3Cc17ct7i0YWQa > ._1M7Yw_SSjcpx8zjyRAPZjs {
        width: 16px;
        height: 16px; }
._8YGBb-2yawC6bMMtkMR23 > ._1mmxbR8iUIL4zO5MPaAFL- > ._1WFGkWld3Cc17ct7i0YWQa > ._1M7Yw_SSjcpx8zjyRAPZjs > img {
          width: 100%;
          height: auto; }
._8YGBb-2yawC6bMMtkMR23 > ._1mmxbR8iUIL4zO5MPaAFL- ._1lYuxzxMLovLQC1Cl0ZHmd {
      height: 140px;
      background-color: rgba(128, 1, 232, .4);
      border-radius: 5px; }
._8YGBb-2yawC6bMMtkMR23 > ._1mmxbR8iUIL4zO5MPaAFL- ._1DZ98d9cJAQXT8Ouy205oy {
      color: #43780b;
      font-size: 12px; }
._8YGBb-2yawC6bMMtkMR23 > ._1mmxbR8iUIL4zO5MPaAFL- ._2yXiKYu8u4enJ84YR3UXNu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
._8YGBb-2yawC6bMMtkMR23 > ._1mmxbR8iUIL4zO5MPaAFL- ._2yXiKYu8u4enJ84YR3UXNu > button {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        background-color: #efefef;
        border-radius: 5px;
        color: #450582;
        padding: 8px;
        margin: 0 8px; }
