@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);@font-face {
  font-family: 'Gloria Hallelujah'; }
button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  background: transparent;
  border-radius: 0;
  -webkit-tap-highlight-color: transparent; }
button:focus, button:active {
    background: transparent; }
input:focus, textarea:focus, select:focus {
  outline: none; }
input[type=range] {
  width: 100%;
  margin-top: 5px;
  -webkit-appearance: none;
  border-radius: 3px;
  border: 2px solid #460482; }
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: #f9f9f9;
  border: none; }
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #460482;
  margin-top: -6px; }
input[type=range]:focus {
  outline: none; }
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc; }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
html, body {
  padding: 0;
  margin: 0; }
div[data-app="uumlaut"] {
  padding: 0; }
span {
  margin: 2px; }
input {
  border: 1px solid black; }
canvas {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
._2tToa-J5r85kKaS3ufTHT7 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  padding: 0 12px; }
._2tToa-J5r85kKaS3ufTHT7 > ._1ZpYkhVLY3J2matjULi4ds {
    background: rgba(255, 234, 180, .3);
    -webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .27);
            box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .27);
    border-radius: 5px;
    padding: 12px 32px; }
._2tToa-J5r85kKaS3ufTHT7 > ._1ZpYkhVLY3J2matjULi4ds > ._3gFV0JSqN9hTyBDJXvN-gv {
      font-size: 18px;
      font-weight: 700;
      margin: 4px 0 6px 0;
      color: #000000; }
._2tToa-J5r85kKaS3ufTHT7 > ._1ZpYkhVLY3J2matjULi4ds > ._3G0PEfMHpTLTCyrdoAkjoh {
      font-size: 12px;
      color: #4B4B4B;
      padding-bottom: 12px; }
._2tToa-J5r85kKaS3ufTHT7 > ._1ZpYkhVLY3J2matjULi4ds > ._3G0PEfMHpTLTCyrdoAkjoh > ._2oscPnSkwT9-CsLdsHHJ8Q {
        font-style: italic;
        font-weight: 700; }
._2tToa-J5r85kKaS3ufTHT7 > ._1ZpYkhVLY3J2matjULi4ds > ._3G0PEfMHpTLTCyrdoAkjoh > ._2I0Z_RKnsRyfsegbbwkoaZ {
        font-style: italic; }
* {
  font-family: 'Dosis', sans-serif; }
._3Cumvs5f_MepM35wnXMupt {
  width: 100%; }
._3Cumvs5f_MepM35wnXMupt > img {
    width: 100%;
    height: auto; }
.Z3YJseKVLzyZueK6poGvF {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }
.Z3YJseKVLzyZueK6poGvF ._1TmSL1_HhLH93JKx_Fp8C {
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    background-image: linear-gradient(-131deg, #8001E8 5%, #404FEB 93%, #0A92ED 100%); }
.Z3YJseKVLzyZueK6poGvF ._2YLwh1euRhgc5xTlvGTT2h {
    position: absolute;
    top: 100vh;
    left: -50vw;
    width: 400vw;
    height: 100vh;
    z-index: -1;
    background-color: #ffffff;
    -webkit-transform: rotate(68deg);
            transform: rotate(68deg);
    overflow: hidden; }
._3gFV0JSqN9hTyBDJXvN-gv {
  text-align: center;
  padding: 6vh 0 16px 0;
  font-size: 48px;
  color: #FFEAB4; }
._3gFV0JSqN9hTyBDJXvN-gv > ._1Ve2x41GTi25yuIwNU03N7 {
    font-weight: 700; }
.T9v-R3SjKt45fM4oH0ZKZ {
  padding: 32px; }
.T9v-R3SjKt45fM4oH0ZKZ > ._1ZpYkhVLY3J2matjULi4ds {
    background: #FFFFFF;
    -webkit-box-shadow: 0 2px 28px 6px rgba(2, 2, 2, .22);
            box-shadow: 0 2px 28px 6px rgba(2, 2, 2, .22);
    border-radius: 24px;
    text-align: center;
    padding: 24px 56px; }
.T9v-R3SjKt45fM4oH0ZKZ > ._1ZpYkhVLY3J2matjULi4ds > ._2gY5p9Pq2tOzdEpNFXBHm2 {
      padding: 16px;
      margin-bottom: 40px; }
.T9v-R3SjKt45fM4oH0ZKZ > ._1ZpYkhVLY3J2matjULi4ds > ._2gY5p9Pq2tOzdEpNFXBHm2 > img {
        width: 120px;
        height: 120px;
        background-color: #d8d8d8; }
.T9v-R3SjKt45fM4oH0ZKZ > ._1ZpYkhVLY3J2matjULi4ds > ._2XtwIpFz8jYUXQCadoM3XU, .T9v-R3SjKt45fM4oH0ZKZ > ._1ZpYkhVLY3J2matjULi4ds > ._fVKyQ6Xg1ki_7d1cH6Ng {
      display: block;
      font-size: 16px;
      color: #D8D8D8;
      text-align: left;
      padding: 0 4px;
      max-width: 400px; }
.T9v-R3SjKt45fM4oH0ZKZ > ._1ZpYkhVLY3J2matjULi4ds > ._2XtwIpFz8jYUXQCadoM3XU > input, .T9v-R3SjKt45fM4oH0ZKZ > ._1ZpYkhVLY3J2matjULi4ds > ._fVKyQ6Xg1ki_7d1cH6Ng > input {
        font-size: 16px;
        color: #000000;
        border: none;
        width: 100%; }
.T9v-R3SjKt45fM4oH0ZKZ > ._1ZpYkhVLY3J2matjULi4ds > hr {
      margin-top: 2px;
      margin-bottom: 16px; }
.T9v-R3SjKt45fM4oH0ZKZ > ._1ZpYkhVLY3J2matjULi4ds > .MxhPEYKET3iK7UGF3_8MA {
      padding: 16px 0; }
.T9v-R3SjKt45fM4oH0ZKZ > ._1ZpYkhVLY3J2matjULi4ds > .MxhPEYKET3iK7UGF3_8MA > button {
        background-color: #898989;
        border-radius: 32px;
        padding: 16px;
        font-size: 14px;
        color: #ffffff;
        width: 120px; }
.T9v-R3SjKt45fM4oH0ZKZ > ._1ZpYkhVLY3J2matjULi4ds > .U1V5WG_zb4PNKE2NZzXtU {
      font-size: 13px;
      color: #460482;
      margin: 16px 0; }
.T9v-R3SjKt45fM4oH0ZKZ > ._1ZpYkhVLY3J2matjULi4ds > ._1R_1S2KCj7-Luq6Yjtk8mF {
      font-size: 13px;
      color: #460482;
      margin: 16px 0; }
