@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);@font-face {
  font-family: 'Gloria Hallelujah'; }
button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  background: transparent;
  border-radius: 0;
  -webkit-tap-highlight-color: transparent; }
button:focus, button:active {
    background: transparent; }
input:focus, textarea:focus, select:focus {
  outline: none; }
input[type=range] {
  width: 100%;
  margin-top: 5px;
  -webkit-appearance: none;
  border-radius: 3px;
  border: 2px solid #460482; }
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: #f9f9f9;
  border: none; }
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #460482;
  margin-top: -6px; }
input[type=range]:focus {
  outline: none; }
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc; }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
html, body {
  padding: 0;
  margin: 0; }
div[data-app="uumlaut"] {
  padding: 0; }
span {
  margin: 2px; }
input {
  border: 1px solid black; }
canvas {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
.pwU3-KkzUrPV_unc5lo9J {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  padding: 0 12px; }
.pwU3-KkzUrPV_unc5lo9J > ._2u39nvNA42ccTlKW5c6Q-F {
    background: rgba(255, 234, 180, .3);
    -webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .27);
            box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .27);
    border-radius: 5px;
    padding: 12px 32px; }
.pwU3-KkzUrPV_unc5lo9J > ._2u39nvNA42ccTlKW5c6Q-F > ._18tqFaePdBMbToXvull17y {
      font-size: 18px;
      font-weight: 700;
      margin: 4px 0 6px 0;
      color: #000000; }
.pwU3-KkzUrPV_unc5lo9J > ._2u39nvNA42ccTlKW5c6Q-F > ._1KhkQ3Ey145_B5YAi4v1qY {
      font-size: 12px;
      color: #4B4B4B;
      padding-bottom: 12px; }
.pwU3-KkzUrPV_unc5lo9J > ._2u39nvNA42ccTlKW5c6Q-F > ._1KhkQ3Ey145_B5YAi4v1qY > ._13UvXXb4vgLBj94OkhwND- {
        font-style: italic;
        font-weight: 700; }
.pwU3-KkzUrPV_unc5lo9J > ._2u39nvNA42ccTlKW5c6Q-F > ._1KhkQ3Ey145_B5YAi4v1qY > ._3P6CSiBQnrVg6AnEnlic3O {
        font-style: italic; }
* {
  font-family: 'Arial', sans-serif; }
._5oNQXkJVnwzq3MTjZX9u0 {
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f9f9f9;
  overflow: hidden; }
._5oNQXkJVnwzq3MTjZX9u0 > ._1tNWmMSQW06rfcG2g78ftr {
    padding: 13px 17px 11px 9px;
    font-size: 17px;
    color: #8001e8; }
._5oNQXkJVnwzq3MTjZX9u0 > ._1tNWmMSQW06rfcG2g78ftr a {
      text-decoration: none;
      color: inherit; }
._5oNQXkJVnwzq3MTjZX9u0 > ._1tNWmMSQW06rfcG2g78ftr ._2VMUv9RCCDkxmo1mxhWW4Z {
      width: 12px;
      vertical-align: middle;
      margin-right: 5px;
      position: relative;
      top: -2px; }
._5oNQXkJVnwzq3MTjZX9u0 > ._2nHqsf9siGdcsammIVIgNH {
    font-size: 20px;
    color: #9b9b9b;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
    overflow: hidden;
    max-width: calc(100% - 154px); }
._5oNQXkJVnwzq3MTjZX9u0 > ._2nHqsf9siGdcsammIVIgNH > span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
._5oNQXkJVnwzq3MTjZX9u0 > ._2nHqsf9siGdcsammIVIgNH > input {
      font-size: 20px;
      padding: 4px;
      border: none; }
._5oNQXkJVnwzq3MTjZX9u0 > ._2UFBbGklPL7Nth0HyUILIb {
    padding: 12px 17px 12px 17px;
    font-size: 17px;
    color: #8001e8; }
._2m0BW7BjHdbBIW8y7-3tqV > ._2EzURE0__Oomp3FraVrPsu {
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0 14px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
._2m0BW7BjHdbBIW8y7-3tqV > ._2EzURE0__Oomp3FraVrPsu > button {
    width: 25px;
    height: 25px; }
._2m0BW7BjHdbBIW8y7-3tqV > ._2EzURE0__Oomp3FraVrPsu > button > img {
      width: 100%;
      height: auto; }
._1ma5poCIVqA5EXOoGton_0 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .54);
  padding-top: 100px; }
._1ma5poCIVqA5EXOoGton_0 > ._2u39nvNA42ccTlKW5c6Q-F {
    height: 100%;
    background-color: #f9f9f9; }
._1ma5poCIVqA5EXOoGton_0 > ._2u39nvNA42ccTlKW5c6Q-F > .XH6UPNd-B-LHjg09v4GQv {
      padding: 10px 18px 0 18px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
._1ma5poCIVqA5EXOoGton_0 > ._2u39nvNA42ccTlKW5c6Q-F > .XH6UPNd-B-LHjg09v4GQv > ._1tNWmMSQW06rfcG2g78ftr {
        padding-left: 12px; }
._1ma5poCIVqA5EXOoGton_0 > ._2u39nvNA42ccTlKW5c6Q-F > .XH6UPNd-B-LHjg09v4GQv > ._1tNWmMSQW06rfcG2g78ftr > button {
          width: 25px;
          height: 25px; }
._1ma5poCIVqA5EXOoGton_0 > ._2u39nvNA42ccTlKW5c6Q-F > .XH6UPNd-B-LHjg09v4GQv > ._1tNWmMSQW06rfcG2g78ftr > button > img {
            width: 100%;
            height: auto; }
._1ma5poCIVqA5EXOoGton_0 > ._2u39nvNA42ccTlKW5c6Q-F > .XH6UPNd-B-LHjg09v4GQv > ._2UFBbGklPL7Nth0HyUILIb > button {
        padding: 8px 16px;
        font-size: 20px;
        color: #460482; }
._1ma5poCIVqA5EXOoGton_0 > ._2u39nvNA42ccTlKW5c6Q-F > ._2L20qoaXJzUfhtLQ8G-KYy {
      max-height: calc(100% - 59px);
      overflow-y: auto;
      padding: 12px 16px 16px 12px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-item-align: start;
          align-self: start; }
._1ma5poCIVqA5EXOoGton_0 > ._2u39nvNA42ccTlKW5c6Q-F > ._2L20qoaXJzUfhtLQ8G-KYy > ._2XVhF5VNJHE0bSXk26PSEk {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        width: 120px;
        height: 120px;
        margin: 8px 12px;
        border: 1px solid #979797;
        background-color: #d8d8d8;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%; }
._1ma5poCIVqA5EXOoGton_0 > ._2u39nvNA42ccTlKW5c6Q-F > ._2L20qoaXJzUfhtLQ8G-KYy > ._2XVhF5VNJHE0bSXk26PSEk._1J40R6OAvKZrJtpeih5N1r {
          border: 5px dashed #898989;
          overflow: hidden;
          background-color: #f9f9f9; }
._1ma5poCIVqA5EXOoGton_0 > ._2u39nvNA42ccTlKW5c6Q-F > ._2L20qoaXJzUfhtLQ8G-KYy > ._2XVhF5VNJHE0bSXk26PSEk._1J40R6OAvKZrJtpeih5N1r > label {
            width: 100%;
            height: 100%;
            overflow: hidden;
            text-align: center;
            display: block; }
._1ma5poCIVqA5EXOoGton_0 > ._2u39nvNA42ccTlKW5c6Q-F > ._2L20qoaXJzUfhtLQ8G-KYy > ._2XVhF5VNJHE0bSXk26PSEk._1J40R6OAvKZrJtpeih5N1r > label > img {
              width: auto;
              height: 100%; }
._1ma5poCIVqA5EXOoGton_0 > ._2u39nvNA42ccTlKW5c6Q-F > ._2L20qoaXJzUfhtLQ8G-KYy > ._2XVhF5VNJHE0bSXk26PSEk._1J40R6OAvKZrJtpeih5N1r > input {
            display: none; }
._39SjEvPIT8UzE-tccHLPhz {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 67px;
  background-color: #f9f9f9;
  padding: 20px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
._39SjEvPIT8UzE-tccHLPhz > ._1tNWmMSQW06rfcG2g78ftr button {
    width: 25px;
    height: 25px; }
._39SjEvPIT8UzE-tccHLPhz > ._1tNWmMSQW06rfcG2g78ftr button > img {
      width: 100%;
      height: auto; }
._39SjEvPIT8UzE-tccHLPhz > ._2UFBbGklPL7Nth0HyUILIb {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 36px; }
._39SjEvPIT8UzE-tccHLPhz > ._2UFBbGklPL7Nth0HyUILIb > ._1aDIhOsklhJWesNNUdf2Dc {
      width: 25px;
      height: 25px;
      margin: 0 16px; }
._39SjEvPIT8UzE-tccHLPhz > ._2UFBbGklPL7Nth0HyUILIb > ._1aDIhOsklhJWesNNUdf2Dc > img {
        width: 100%;
        height: auto; }
._39SjEvPIT8UzE-tccHLPhz > ._2UFBbGklPL7Nth0HyUILIb > ._2EzURE0__Oomp3FraVrPsu {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
._1orn28FUlkqn0W2oKGumKQ {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .54);
  padding: 150px 28px 28px 28px; }
._1orn28FUlkqn0W2oKGumKQ > ._2u39nvNA42ccTlKW5c6Q-F {
    width: 100%;
    background-color: white;
    padding: 40px 20px;
    border-radius: 24px; }
._1orn28FUlkqn0W2oKGumKQ > ._2u39nvNA42ccTlKW5c6Q-F > ._1CyCDK94NqblvOh1Jroxl1 {
      padding: 8px 0 16px 0; }
._1orn28FUlkqn0W2oKGumKQ > ._2u39nvNA42ccTlKW5c6Q-F > ._1CyCDK94NqblvOh1Jroxl1 > input {
        width: 100%;
        height: 41px;
        border: 2px solid #460482;
        border-radius: 0;
        padding: 12px;
        font-size: 18px;
        color: black; }
._1orn28FUlkqn0W2oKGumKQ > ._2u39nvNA42ccTlKW5c6Q-F > ._2EzURE0__Oomp3FraVrPsu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 16px 0 8px 0; }
._1orn28FUlkqn0W2oKGumKQ > ._2u39nvNA42ccTlKW5c6Q-F > ._2EzURE0__Oomp3FraVrPsu button {
        width: 32px;
        height: 32px; }
._1orn28FUlkqn0W2oKGumKQ > ._2u39nvNA42ccTlKW5c6Q-F > ._2EzURE0__Oomp3FraVrPsu button > label {
          width: 100%;
          height: 100%; }
._1orn28FUlkqn0W2oKGumKQ > ._2u39nvNA42ccTlKW5c6Q-F > ._2EzURE0__Oomp3FraVrPsu button > label > img {
            width: 100%;
            height: auto; }
._1orn28FUlkqn0W2oKGumKQ > ._2u39nvNA42ccTlKW5c6Q-F > ._2EzURE0__Oomp3FraVrPsu button > input {
          color: #000000;
          font-size: 8px; }
._1orn28FUlkqn0W2oKGumKQ > ._2u39nvNA42ccTlKW5c6Q-F > ._2EzURE0__Oomp3FraVrPsu button > img {
          width: 100%;
          height: auto; }
._1orn28FUlkqn0W2oKGumKQ > ._2u39nvNA42ccTlKW5c6Q-F > ._2KQ_vlolILWVi0mM2dytXH {
      padding: 16px 0 0 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly; }
._1orn28FUlkqn0W2oKGumKQ > ._2u39nvNA42ccTlKW5c6Q-F > ._2KQ_vlolILWVi0mM2dytXH > button {
        padding: 8px 16px;
        font-size: 17px; }
._1orn28FUlkqn0W2oKGumKQ > ._2u39nvNA42ccTlKW5c6Q-F > ._2KQ_vlolILWVi0mM2dytXH > button._3yVELlh6di9qEVmxtqsjSo {
          color: #ff9b04; }
._1orn28FUlkqn0W2oKGumKQ > ._2u39nvNA42ccTlKW5c6Q-F > ._2KQ_vlolILWVi0mM2dytXH > button.VcGUnLIcEPjjTRX39dNSN {
          color: #8001e8; }
._1PaEzsrvMUq099fSK9I3Fh {
  position: fixed;
  top: 8px;
  right: 8px; }
._1o37Y6AOv9z7roKMtM3kh0 {
  width: calc(100% - 16px);
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto; }
._1o37Y6AOv9z7roKMtM3kh0 ._3N4QD7Aadl2GqnRwCY339A {
    margin-right: 4px; }
._1o37Y6AOv9z7roKMtM3kh0 ._3N4QD7Aadl2GqnRwCY339A > img {
      height: 80px; }
