@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);@font-face {
  font-family: 'Gloria Hallelujah'; }
button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  background: transparent;
  border-radius: 0;
  -webkit-tap-highlight-color: transparent; }
button:focus, button:active {
    background: transparent; }
input:focus, textarea:focus, select:focus {
  outline: none; }
input[type=range] {
  width: 100%;
  margin-top: 5px;
  -webkit-appearance: none;
  border-radius: 3px;
  border: 2px solid #460482; }
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: #f9f9f9;
  border: none; }
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #460482;
  margin-top: -6px; }
input[type=range]:focus {
  outline: none; }
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc; }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
html, body {
  padding: 0;
  margin: 0; }
div[data-app="uumlaut"] {
  padding: 0; }
span {
  margin: 2px; }
input {
  border: 1px solid black; }
canvas {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
._2VPd1WmU55CNtvQW5J3E19 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  padding: 0 12px; }
._2VPd1WmU55CNtvQW5J3E19 > ._2xaXwTEsSMrLqwBLA2CZ4I {
    background: rgba(255, 234, 180, .3);
    -webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .27);
            box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .27);
    border-radius: 5px;
    padding: 12px 32px; }
._2VPd1WmU55CNtvQW5J3E19 > ._2xaXwTEsSMrLqwBLA2CZ4I > .Zn1_3k7TTfW786zKjfI56 {
      font-size: 18px;
      font-weight: 700;
      margin: 4px 0 6px 0;
      color: #000000; }
._2VPd1WmU55CNtvQW5J3E19 > ._2xaXwTEsSMrLqwBLA2CZ4I > ._2t0smohvcYM4DVypUG9_e2 {
      font-size: 12px;
      color: #4B4B4B;
      padding-bottom: 12px; }
._2VPd1WmU55CNtvQW5J3E19 > ._2xaXwTEsSMrLqwBLA2CZ4I > ._2t0smohvcYM4DVypUG9_e2 > ._2yTeufxJDbHlLKTRY4QTCO {
        font-style: italic;
        font-weight: 700; }
._2VPd1WmU55CNtvQW5J3E19 > ._2xaXwTEsSMrLqwBLA2CZ4I > ._2t0smohvcYM4DVypUG9_e2 > ._2p9uLUixD13f_A3HzNbz5b {
        font-style: italic; }
* {
  font-family: 'Arial', sans-serif; }
.aUEmjx43VPUYpNCfnpqxa {
  overflow-y: scroll;
  padding-bottom: 32px; }
._2Nn6ING8HFhNy_QqTA_I9S {
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  overflow: hidden;
  -webkit-box-shadow: 0 0 4px 0 #B2B2B2;
          box-shadow: 0 0 4px 0 #B2B2B2;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
._2Nn6ING8HFhNy_QqTA_I9S > ._2Zvcvz6rQKDwnmkGd68nr1 {
    width: 60px; }
._2Nn6ING8HFhNy_QqTA_I9S > ._2Rc_o9L-PN341e-wquA7xc {
    font-size: 24px;
    color: #8001e8;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
    overflow: hidden;
    max-width: calc(100% - 154px); }
._2Nn6ING8HFhNy_QqTA_I9S > ._2Rc_o9L-PN341e-wquA7xc > span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
._2Nn6ING8HFhNy_QqTA_I9S > ._2Rc_o9L-PN341e-wquA7xc > input {
      font-size: 20px;
      padding: 4px;
      border: none; }
._2Nn6ING8HFhNy_QqTA_I9S > .cT1O67bfoGxbuMoS4ZSDk {
    padding: 12px 17px 12px 17px; }
._2Nn6ING8HFhNy_QqTA_I9S > .cT1O67bfoGxbuMoS4ZSDk > img {
      width: 25px;
      height: 25px; }
body {
  background-color: #f9f9f9; }
._3KGn2v6B0cAvKuB8q8OkLq {
  padding: 24px 0; }
._3KGn2v6B0cAvKuB8q8OkLq > .Zn1_3k7TTfW786zKjfI56 {
    padding: 8px 16px;
    font-size: 18px;
    color: #898989; }
._3KGn2v6B0cAvKuB8q8OkLq > ._2t0smohvcYM4DVypUG9_e2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
._3KGn2v6B0cAvKuB8q8OkLq > ._2t0smohvcYM4DVypUG9_e2 > ._15OeLT7I_iqsp-AcXhBRWq {
      width: calc(50% - 24px);
      margin: 8px;
      padding: 20px;
      background: #FFFFFF;
      -webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .27);
              box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .27);
      border-radius: 5px; }
._3KGn2v6B0cAvKuB8q8OkLq > ._2t0smohvcYM4DVypUG9_e2 > ._15OeLT7I_iqsp-AcXhBRWq:first-child {
        margin-left: 16px; }
._3KGn2v6B0cAvKuB8q8OkLq > ._2t0smohvcYM4DVypUG9_e2 > ._15OeLT7I_iqsp-AcXhBRWq:last-child {
        margin-right: 16px; }
._3KGn2v6B0cAvKuB8q8OkLq > ._2t0smohvcYM4DVypUG9_e2 > ._15OeLT7I_iqsp-AcXhBRWq > ._2Jzb7DQ2RQshMQE6WQf8KU {
        border-radius: 5px;
        height: calc(50vw - 64px);
        margin-bottom: 16px; }
._3KGn2v6B0cAvKuB8q8OkLq > ._2t0smohvcYM4DVypUG9_e2 > ._15OeLT7I_iqsp-AcXhBRWq > ._2Jzb7DQ2RQshMQE6WQf8KU._1bIPo_-Rhdy2f8NG3oeg5c {
          background: #4CAFF1; }
._3KGn2v6B0cAvKuB8q8OkLq > ._2t0smohvcYM4DVypUG9_e2 > ._15OeLT7I_iqsp-AcXhBRWq > ._2Jzb7DQ2RQshMQE6WQf8KU._1T7NFtrJj5xS8uiRBjNteR {
          background: #C38EF6; }
._3KGn2v6B0cAvKuB8q8OkLq > ._2t0smohvcYM4DVypUG9_e2 > ._15OeLT7I_iqsp-AcXhBRWq > ._2yTeufxJDbHlLKTRY4QTCO {
        margin: 8px 0;
        text-align: center;
        font-size: 18px;
        color: #4B4B4B;
        font-weight: 700;
        word-wrap: break-word; }
._3KGn2v6B0cAvKuB8q8OkLq > ._2t0smohvcYM4DVypUG9_e2 > ._15OeLT7I_iqsp-AcXhBRWq > ._2xxu3Y9ilqaDcBdSmhQBpK {
        margin: 8px 0;
        text-align: center;
        font-size: 14px;
        color: #4B4B4B;
        word-wrap: break-word; }
._3KGn2v6B0cAvKuB8q8OkLq > ._2t0smohvcYM4DVypUG9_e2 > ._15OeLT7I_iqsp-AcXhBRWq > ._1SLsvADsNRVbdqCgd07zsS {
        text-align: center;
        font-style: italic;
        background-color: #efefef;
        border-radius: 5px;
        color: #450582;
        padding: 16px 8px; }
.K6RWhJ1Jgo1lbULiWyc4m {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
  height: 50px;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0 14px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
.K6RWhJ1Jgo1lbULiWyc4m > button {
    width: 29px;
    height: 29px; }
.K6RWhJ1Jgo1lbULiWyc4m > button > img {
      width: 100%;
      height: auto; }
.KT-r3uODoPKlR6-rTytKO {
  padding: 16px; }
.KT-r3uODoPKlR6-rTytKO button {
    width: 100%;
    display: block;
    background-color: #efefef;
    border-radius: 5px;
    color: #450582;
    padding: 8px; }
