
{% load render_bundle from webpack_loader %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <title>Ü</title>
        {% render_bundle 'composite' 'css' %}
{#        <script>#}
{#            window.fbAsyncInit = function() {#}
{#                FB.init({#}
{#                    appId            : '505927193109957',#}
{#                    autoLogAppEvents : true,#}
{#                    xfbml            : true,#}
{#                    version          : 'v2.11'#}
{#                });#}
{#            };#}
{##}
{#            (function(d, s, id){#}
{#                let js, fjs = d.getElementsByTagName(s)[0];#}
{#                if (d.getElementById(id)) {return;}#}
{#                js = d.createElement(s); js.id = id;#}
{#                js.src = "https://connect.facebook.net/en_US/sdk.js";#}
{#                fjs.parentNode.insertBefore(js, fjs);#}
{#            }(document, 'script', 'facebook-jssdk'));#}
{#        </script>#}




    </head>
    <body>
        <div id="root" data-app="uumlaut"></div>
        {% render_bundle 'composite' 'js' %}
    </body>
</html>