//@keyframes ripple {
//  0% {
//    transform: scale(0, 0);
//    opacity: 1;
//  }
//  //20% {
//  //  transform: scale(10, 10);
//  //  opacity: 1;
//  //}
//  100% {
//    opacity: 0;
//    transform: scale(30, 30);
//  }
//}

button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  background: transparent;
  border-radius: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  &:focus, &:active {
    background: transparent;
  }
}


//button {
//  position: relative;
//  overflow: hidden;
//}
//
//button.purple:after {
//  content: '';
//  position: absolute;
//  top: 50%;
//  left: 50%;
//  width: 5px;
//  height: 5px;
//  background: rgba(128,1,232,0.2);
//  opacity: 0;
//  border-radius: 100%;
//  transform: scale(1, 1) translate(-50%);
//  transform-origin: 50% 50%;
//}
//
//button:focus:not(:active)::after {
//  animation: ripple 0.5s ease-out;
//}




input:focus, textarea:focus, select:focus {
  outline: none;
}

input[type=range]{
  width: 100%;
  margin-top: 5px;
  -webkit-appearance: none;
  border-radius: 3px;
  border: 2px solid rgba(70,4,130,1);
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: rgba(249,249,249,1);
  border: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: rgba(70,4,130,1);
    margin-top: -6px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}