@import './font.scss';
@import './button.scss';

* {
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
}

div[data-app="uumlaut"] {
  padding: 0;
}

span {
  margin: 2px;
}

input {
  border: 1px solid black;
}

canvas {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  user-select: none;
}



.notification-popup {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  padding: 0 12px;

  > .container {
    background: rgba(255,234,180,0.30);
    box-shadow: 0 2px 9px 0 rgba(0,0,0,0.27);
    border-radius: 5px;
    padding: 12px 32px;

    > .title {
      font-size: 18px;
      font-weight: 700;
      margin: 4px 0 6px 0;
      color: #000000;
    }

    > .content {
      font-size: 12px;
      color: #4B4B4B;
      padding-bottom: 12px;

      > .name {
        font-style: italic;
        font-weight: 700;
      }

      > .click {
        font-style: italic;
      }
    }
  }
}