@import '../configs/default.scss';

* {
  font-family: 'Arial', sans-serif;
}

.body {
  overflow-y: scroll;
  padding-bottom: 32px;
}


.navigation {
  height: 58px;
  display: flex;
  align-items: center;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  box-shadow: 0 0 4px 0 #B2B2B2;

  justify-content: space-around;

  > .left {
    width: 60px;
  }

  > .center {
    font-size: 24px;
    color: rgba(128,1,232,1);
    flex-grow: 1;
    text-align: center;
    overflow: hidden;
    max-width: calc(100% - 154px);
    > span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    > input {
      font-size: 20px;
      padding: 4px;
      border: none;
    }
  }

  > .right {
    padding: 12px 17px 12px 17px;
    > img {
      width: 25px;
      height: 25px;
    }
  }
}

body {
  background-color: rgba(249,249,249,1);
}

.empty_story {
  padding: 32px;


  > .add {
    display: block;
    width: 100%;
    border: 2px dashed #5c2ce9;
    text-align: center;
    background-color: #f9f9f9;
    padding: 12px;
    height: 92px;
  }
}

.control {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  height: 50px;

  background-color: rgba(249,249,249,1);
  display: flex;
  padding: 10px 0 14px 0;
  justify-content: space-around;

  > button {
      width: 29px;
      height: 29px;

      > img {
        width: 100%;
        height: auto;
      }
    }
}

.story_item {
  padding: 32px 32px 0 32px;

  > .container {
    background: #FFFFFF;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,0.27);
    border-radius: 5px;
    padding: 16px 16px 8px 16px;

    > div {
      margin-bottom: 8px;
    }

    > .top {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      > .title {
        color: rgba(75,75,75,1);
        font-size: 18px;
      }

      > .delete {
        width: 16px;
        height: 16px;

        > img {
          width: 100%;
          height: auto;
        }
      }
    }

    .thumbnail_holder {
      height: 140px;
      background-color: rgba(128,1,232,0.4);
      border-radius: 5px;
    }

    .thumbnail {
      border-radius: 5px;
      height: 140px;
      background-position: center;
      background-size: cover;
      border: 1px solid #000000;
    }

    .message {
      color: #43780b;
      font-size: 12px;
    }

    .actions {
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      > button{
        flex-grow: 1;
        background-color: #efefef;
        border-radius: 5px;
        color: #450582;
        padding: 8px;
        margin: 0 8px;

        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}



.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.54);

  > .container {
    height: 100%;
    background-color: rgba(249,249,249,1);

    > .header {
      padding: 18px 18px 0 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      > .left {

        > .title {
          font-size: 20px;
          color: #000000;
          font-weight: 700;
          padding-bottom: 4px;
        }

        > .author {
          font-size: 14px;
          font-style: italic;
          color: #898989;
        }
      }
      > .right {
        padding-left: 12px;
        > button {
          width: 25px;
          height: 25px;
          > img {
            width: 100%;
            height: auto;
          }
        }
      }
    }

    > .body {
      max-height: 100%;
      overflow-y: auto;
      padding: 12px 16px 16px 12px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      flex-direction: row;
      align-self: start;

      > .thumbnail {
        > img {
          width: 100%;
          height: auto;
        }
      }

      > .actions {
        padding: 16px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        > a {
          flex-grow: 1;
          margin: 0 8px;

          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
          > button {
            width: 100%;
            display: block;
            background-color: #efefef;
            border-radius: 5px;
            color: #450582;
            padding: 8px;

          }
        }
      }
    }
  }
}