@import '../configs/default.scss';

* {
  font-family: 'Dosis', sans-serif;
}

canvas {
  border: 2px dashed #ddd;
}

.overlay {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  touch-action: none;
}

.photo-list {
  width: calc(100% - 16px);
  padding: 8px;
  display: flex;
  overflow-x: auto;
  .photo-item {
    margin-right: 4px;
    > img {
      height: 80px;
    }
  }
}