@import '../configs/default.scss';

* {
  font-family: 'Dosis', sans-serif;
}

.logo-container {
  width: 100%;
  > img {
    width: 100%;
    height: auto;
  }
}
.decoration {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  .purple_background {
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  background-image: linear-gradient(-131deg, #8001E8 5%, #404FEB 93%, #0A92ED 100%);
}

.mask {
  position: absolute;
  top: 100vh;
  left: -50vw;
  width: 400vw;
  height: 100vh;
  z-index: -1;
  background-color: #ffffff;
  transform: rotate(68deg);
  overflow: hidden;
}
}


.title {
  text-align: center;
  padding: 6vh 0 16px 0;

  font-size: 48px;
  color: #FFEAB4;

  > .main {
    font-weight: 700;
  }
}

.authentication {
  padding: 32px;
  > .container {
    background: #FFFFFF;
    box-shadow: 0 2px 28px 6px rgba(2,2,2,0.22);
    border-radius: 24px;
    text-align: center;
    padding: 24px 56px;


    > .logo {
      padding: 16px;
      margin-bottom: 40px;

      > img {
        width: 120px;
        height: 120px;
        background-color: #d8d8d8;
      }
    }

    > .username, > .password {
      display: block;
      font-size: 16px;
      color: #D8D8D8;
      text-align: left;
      padding: 0 4px;
      max-width: 400px;

      > input {
        font-size: 16px;
        color: #000000;
        border: none;
        width: 100%;
      }
    }

    > hr {
      margin-top: 2px;
      margin-bottom: 16px;
    }

    > .login {
      padding: 16px 0;
      > button {
        background-color: #898989;
        border-radius: 32px;
        padding: 16px;
        font-size: 14px;
        color: #ffffff;
        width: 120px
      }
    }

    > .reset_password {
      font-size: 13px;
      color: #460482;
      margin: 16px 0;
    }

    > .signup {
      font-size: 13px;
      color: #460482;
      margin: 16px 0;
    }
  }

}