@import '../configs/default.scss';

* {
  font-family: 'Arial', sans-serif;
}

.body {
  overflow-y: scroll;
  //padding-bottom: 32px;

  > .container {
    height: 100%;
    //max-height: calc(100% - 59px);
    overflow-y: auto;
    padding: 12px 16px 16px 12px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: start;
    > .photo_item {
      flex-grow: 1;
      width: 120px;
      height: 120px;
      margin: 8px 12px;
      border: 1px solid rgba(151,151,151,1);
      background-color: rgba(216,216,216,1);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;

      &.photo_new {
        border: 5px dashed rgba(137,137,137,1);
        overflow: hidden;
        background-color: rgba(249,249,249,1);

        > label {
          width: 100%;
          height: 100%;
          overflow: hidden;
          text-align: center;
          display: block;

          > img {
            width: auto;
            height: 100%;
          }
        }
        > input {
          display: none;
        }
      }
    }
  }
}


.navigation {
  height: 58px;
  display: flex;
  align-items: center;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  box-shadow: 0 0 4px 0 #B2B2B2;

  justify-content: space-around;

  > .left {
    width: 60px;
  }

  > .center {
    font-size: 24px;
    color: rgba(128,1,232,1);
    flex-grow: 1;
    text-align: center;
    overflow: hidden;
    max-width: calc(100% - 154px);
    > span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    > input {
      font-size: 20px;
      padding: 4px;
      border: none;
    }
  }

  > .right {
    padding: 12px 17px 12px 17px;
    > img {
      width: 25px;
      height: 25px;
    }
  }
}

body {
  background-color: rgba(249,249,249,1);


}

.empty_story {
  padding: 32px;


  > .add {
    display: block;
    width: 100%;
    border: 2px dashed #5c2ce9;
    text-align: center;
    background-color: #f9f9f9;
    padding: 12px;
    height: 92px;
  }
}

.control {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  height: 50px;

  background-color: rgba(249,249,249,1);
  display: flex;
  padding: 10px 0 14px 0;
  justify-content: space-around;

  > button {
      width: 29px;
      height: 29px;

      > img {
        width: 100%;
        height: auto;
      }
    }
}

.story_item {
  padding: 32px 32px 0 32px;

  > .container {
    background: #FFFFFF;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,0.27);
    border-radius: 5px;
    padding: 16px;

    > div {
      margin-bottom: 8px;
    }

    > .top {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      > .title {
        color: rgba(75,75,75,1);
        font-size: 18px;
      }

      > .delete {
        width: 16px;
        height: 16px;

        > img {
          width: 100%;
          height: auto;
        }
      }
    }

    .thumbnail_holder {
      height: 140px;
      background-color: rgba(128,1,232,0.4);
      border-radius: 5px;
    }

    .message {
      color: #43780b;
      font-size: 12px;
    }

    .actions {
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      > button{
        flex-grow: 1;
        background-color: #efefef;
        border-radius: 5px;
        color: #450582;
        padding: 8px;
        margin: 0 8px;
      }
    }
  }
}