@import '../configs/default.scss';

* {
  font-family: 'Arial', sans-serif;
}



.navigation {
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(249,249,249,1);
  overflow: hidden;

  > .left {
    padding: 13px 17px 11px 9px;
    font-size: 17px;
    color: rgba(128,1,232,1);

    a {
      text-decoration: none;
      color: inherit;
    }

    .back {
      width: 12px;
      vertical-align: middle;
      margin-right: 5px;
      position: relative;
      top: -2px;
    }
  }

  > .center {
    font-size: 20px;
    color: rgba(155,155,155,1);
    flex-grow: 1;
    text-align: center;
    overflow: hidden;
    max-width: calc(100% - 154px);
    > span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    > input {
      font-size: 20px;
      padding: 4px;
      border: none;
    }
  }

  > .right {
    padding: 12px 17px 12px 17px;
    font-size: 17px;
    color: rgba(128,1,232,1);
  }
}

.control {
  > .controller {
    background-color: rgba(249,249,249,1);
    display: flex;
    padding: 10px 0 14px 0;
    justify-content: space-around;

    > button {
      width: 25px;
      height: 25px;

      > img {
        width: 100%;
        height: auto;
      }

      //&:active {
      //  filter: blur(2px);
      //}
    }
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.54);
  padding-top: 100px;

  > .container {
    height: 100%;
    background-color: rgba(249,249,249,1);

    > .header {
      padding: 10px 18px 0 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      > .left {
        padding-left: 12px;
        > button {
          width: 25px;
          height: 25px;
          > img {
            width: 100%;
            height: auto;
          }
        }
      }
      > .right {
        > button {
          padding: 8px 16px;
          font-size: 20px;
          color: rgba(70,4,130,1);
        }
      }
    }

    > .body {
      max-height: calc(100% - 59px);
      overflow-y: auto;
      padding: 12px 16px 16px 12px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      flex-direction: row;
      align-self: start;
      > .photo_item {
        flex-grow: 1;
        width: 120px;
        height: 120px;
        margin: 8px 12px;
        border: 1px solid rgba(151,151,151,1);
        background-color: rgba(216,216,216,1);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        &.photo_new {
          border: 5px dashed rgba(137,137,137,1);
          overflow: hidden;
          background-color: rgba(249,249,249,1);

          > label {
            width: 100%;
            height: 100%;
            overflow: hidden;
            text-align: center;
            display: block;

            > img {
              width: auto;
              height: 100%;
            }
          }
          > input {
            display: none;
          }
        }
      }
    }
  }
}

.overlay_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 67px;
  background-color: rgba(249,249,249,1);
  padding: 20px 24px;

  display: flex;
  justify-content: center;
  > .left {
    button {
      width: 25px;
      height: 25px;
      > img {
        width: 100%;
        height: auto;
      }
    }
  }

  > .right {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding-left: 36px;
    > .icon {
      width: 25px;
      height: 25px;
      margin: 0 16px;
      > img {
        width: 100%;
        height: auto;
      }
    }

    > .controller {
      flex-grow: 1;
    }
  }
}


.overlay_middle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.54);
  padding: 150px 28px 28px 28px;
  > .container {
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    padding: 40px 20px;
    border-radius: 24px;

    > .field {
      padding: 8px 0 16px 0;
      > input {
        width: 100%;
        height: 41px;
        border: 2px solid rgba(70,4,130,1);
        border-radius: 0;
        padding: 12px;
        font-size: 18px;
        color: rgba(0,0,0,1);
      }
    }

    > .controller {
      display: flex;
      justify-content: space-between;
      padding: 16px 0 8px 0;

      button {
        width: 32px;
        height: 32px;

        > label {
          width: 100%;
          height: 100%;

          > img {
            width: 100%;
            height: auto;
          }
        }

        //// TODO-Karl: iOS doesn't support native color picker.
        > input {
          //visibility: hidden;
          color: #000000;
          font-size: 8px;
        }

        > img {
          width: 100%;
          height: auto;
        }
      }
    }

    > .actions {
      padding: 16px 0 0 0;
      display: flex;
      justify-content: space-evenly;

      > button {
        padding: 8px 16px;
        font-size: 17px;

        &.not_save {
          color: rgba(255, 155, 4, 1);
        }

        &.save {
          color: rgba(128, 1, 232, 1);
        }
      }
    }
  }
}













.canvas-lock {
  position: fixed;
  top: 8px;
  right: 8px;
}

//.overlay {
//  width: 100%;
//  position: fixed;
//  bottom: 0;
//  background-color: rgba(255, 255, 255, 0.9);
//  touch-action: none;
//}

.photo-list {
  width: calc(100% - 16px);
  padding: 8px;
  display: flex;
  overflow-x: auto;
  .photo-item {
    margin-right: 4px;
    > img {
      height: 80px;
    }
  }
}

