@import '../configs/default.scss';

* {
  font-family: 'Arial', sans-serif;
}

.body {
  overflow-y: scroll;
  padding-bottom: 32px;
}


.navigation {
  height: 58px;
  display: flex;
  align-items: center;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  box-shadow: 0 0 4px 0 #B2B2B2;

  justify-content: space-around;

  > .left {
    width: 60px;
  }

  > .center {
    font-size: 24px;
    color: rgba(128,1,232,1);
    flex-grow: 1;
    text-align: center;
    overflow: hidden;
    max-width: calc(100% - 154px);
    > span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    > input {
      font-size: 20px;
      padding: 4px;
      border: none;
    }
  }

  > .right {
    padding: 12px 17px 12px 17px;
    > img {
      width: 25px;
      height: 25px;
    }
  }
}

body {
  background-color: rgba(249,249,249,1);
}


.connection {
  padding: 24px 0;
  > .title {
    padding: 8px 16px;
    font-size: 18px;
    color: #898989;
  }

  > .content {
    display: flex;

    > .person {
      width: calc(50% - 24px);
      margin: 8px;
      padding: 20px;
      background: #FFFFFF;
      box-shadow: 0 2px 9px 0 rgba(0,0,0,0.27);
      border-radius: 5px;

      &:first-child {
        margin-left: 16px;
      }
      &:last-child {
        margin-right: 16px;
      }

      > .avatar {
        border-radius: 5px;
        height: calc(50vw - 64px);

        &.blue {
          background: #4CAFF1;
        }

        &.purple {
          background: #C38EF6;
        }
        margin-bottom: 16px;
      }

      > .name {
        margin: 8px 0;
        text-align: center;

        font-size: 18px;
        color: #4B4B4B;
        font-weight: 700;
        overflow-wrap: break-word;
      }

      > .email {
        margin: 8px 0;
        text-align: center;
        font-size: 14px;
        color: #4B4B4B;
        overflow-wrap: break-word;
      }

      > .find {
        text-align: center;
        font-style: italic;
        background-color: #efefef;
        border-radius: 5px;
        color: #450582;
        padding: 16px 8px;
      }
    }
  }
}

.control {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  height: 50px;

  background-color: rgba(249,249,249,1);
  display: flex;
  padding: 10px 0 14px 0;
  justify-content: space-around;

  > button {
      width: 29px;
      height: 29px;

      > img {
        width: 100%;
        height: auto;
      }
    }
}


.logout {
  padding: 16px;
  button {
    width: 100%;
    display: block;
    background-color: #efefef;
    border-radius: 5px;
    color: #450582;
    padding: 8px;
  }
}