<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
	</head>
	<body>
      <div id="root" data-app="uumlaut"></div>
	</body>
</html>
